.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  // border: 1px solid blue;
  height: 100vh;


  .card{
    border: 1px solid darkblue;
    background-color: rgb(5, 5, 77);
    border-radius: 10px;
    width: fit-content;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .hello{
     color: tomato;
     margin-top: -20px;
     padding: 10px;
     text-align: center;
    }
  }
}
